1
I. Robot remains upright with no arm
Test Success: Successful
Description: The robot is able to move around with no loss of stability

II. Robot remains upright with arm at minimum extension
Test Success: Success
Description: Simulating the weight distribution of the arm as a solid of the right length the robot was stable

III.  Robot remains upright with arm at maximum extension
Test Success: Successful
Description: The robot is able to move around with no loss of stability

IV. Robot remains upright with no arm under simulated forward movement
Test Success: N/A

V. Robot remains upright with arm at minimum extension under simulated forward movement
Test Success: N/A

VI. Robot remains upright with arm at maximum extension under simulated forward movement
Test Success: N/A

VIII. Robot remains upright with no arm under simulated forward + sideways movement
Test Success: N/A

IX. Robot remains upright with arm at minimum extension under simulated forward + sideways  movement
Test Success: N/A

X. Robot remains upright with arm at maximum extension under simulated forward + sideways movement
Test Success: N/A

2 (Sean)

3
I.	Robot identifies carriage end from 1m
Test Success: Successful
Description: The robot stopped before the end of the carriage from a starting point of 1m away

II.	Robot identifies carriage end from 3m
Test Success: Successful
Description: The robot stopped before the end of the carriage from a starting point of 3m away

III.	Robot identifies carriage end from full carriage length
Test Success: Successful
Description: The robot stopped before the end of the carriage from a starting point of the entire length of the carriage away

IV.	Robot identifies carriage end from initial starting point of 90 degrees to end
Test Success: Unsuccessful
Description: The robot stopped before the seats but was unable to turn to correct its course for the end of the carriage

V.	Robot identifies carriage end from 180 degrees to end
Test Success: Unsuccessful
Description: The robot stopped but at the wrong end of the carriage where there was no defined sticker
